body{background-color: rgb(204, 59, 5)}
.parte1 {background-color: rgba(255, 165, 165, 0.856);
h1 {text-align: center;}
}

.parte2 {background-color: rgba(255, 165, 165, 0.856);}
.parte3 {background-color: rgba(255, 165, 165, 0.856);}